@import url(https://fonts.googleapis.com/css?family=Oswald);
body {
    background-image: url(no7an.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000000;
    font-family: 'Oswald', sans-serif;
}

.song {
    position: fixed;
    width: 1000px;
    bottom: 0;
    left: 0;
}
.email {
    color: #50E3C2;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 4em;
    padding-right: 14px;
    padding-bottom: 8px;
}

h2 {
    color:#50E3C2;
    font-family: 'Oswald', sans-serif;
}